In [2]:
print("wellcome")

wellcome

In [2]:
x=10
y=20
print("value", x ,"value of : y",y)

value 10 value of : y 20

In [3]:
print(f"the value of x {10} and the value of y is {20} ")

the value of x 10 and the value of y is 20

In [6]:
name=emad_nader_atta
curse= ai_and_data_science
id= 333
print(f"my name is {"emad_nader_atta"} and my curse is {"ai_and_data_science"} and my id value {333}")

NameError: name 'emad_nader_atta' is not defined

In [7]:
sent_1 ="welcom into our company"
split_result = sent_1.split()
split_2 =''.join(split_result)
print(sent_2)

NameError: name 'sent_2' is not defined

In [10]:
list can be represented by[]
list_one =[1,2,3,4,"amit","learning",True,["ml","ds"]]]
print(type(list_one))

SyntaxError: unmatched ']' (3481377537.py, line 2)

In [5]:
tuple_1 = (3,2,41)
print(type(tuple_1))
conv_list = list(tuple_1)
conv_list[2] = 50
new_tuple = tuple(conv_list)
print (new_tuple)

<class 'tuple'>
(3, 2, 50)

In [ ]:
dict_1 ={"key1":12.5,"key2":depi",4:}